<!-- Just an image
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/weather-icons/png/042-umbrella.png" width="30" height="30" alt="">
    </a>
</nav> -->


<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
        aria-selected="true">Today</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
        aria-selected="false">5-Day</a>
    </li>
  </ul>
  <div class="tab-content py-2" id="myTabContentJust" style="height: 80%;">
    <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just" style="height: 100%;">
        <div class="row d-flex flex-wrap align-items-center" style="text-align: center; height: 100%;" >
            <div class="col-4">
                <img [src]="getWeatherIcon(currentWeather.weather[0].id)" width="120px" class="img-fluid" alt="sunny"/>
            </div>
            <div class="col-4">
                <h1 style="font-size: 10rem;">{{getCurrentWeatherTemp()}}°</h1>
            </div>
            <div class="col-4">
                <h4>{{getCurrentWeatherHighTemp()}}° HIGH</h4>
                <h4>{{getCurrentWeatherLowTemp()}}° LOW</h4>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
        <div class="row d-flex flex-wrap align-items-center" style="text-align: center;">
            <div class="col">
                <h1 style="font-size: 2rem;">{{convertKelvinToFahrenheit(fiveDayWeather.list[4].main.temp)}}°</h1>
                <img [src]="getWeatherIcon(fiveDayWeather.list[4].weather[0].id)" class="img-fluid" width="75px" alt="sunny">
            </div>
            <div class="col">
                <h1 style="font-size: 2rem;">{{convertKelvinToFahrenheit(fiveDayWeather.list[9].main.temp)}}°</h1>
                <img [src]="getWeatherIcon(fiveDayWeather.list[9].weather[0].id)" class="img-fluid" width="75px" alt="sunny">
            </div>
            <div class="col">
                <h1 style="font-size: 2rem;">{{convertKelvinToFahrenheit(fiveDayWeather.list[14].main.temp)}}°</h1>
                <img [src]="getWeatherIcon(fiveDayWeather.list[14].weather[0].id)" class="img-fluid" width="75px" alt="sunny">
            </div>
            <div class="col">
                <h1 style="font-size: 2rem;">{{convertKelvinToFahrenheit(fiveDayWeather.list[19].main.temp)}}°</h1>
                <img [src]="getWeatherIcon(fiveDayWeather.list[19].weather[0].id)" class="img-fluid" width="75px" alt="sunny">
            </div>
            <div class="col">
                <h1 style="font-size: 2rem;">{{convertKelvinToFahrenheit(fiveDayWeather.list[24].main.temp)}}°</h1>
                <img [src]="getWeatherIcon(fiveDayWeather.list[24].weather[0].id)" class="img-fluid" width="75px" alt="sunny">
            </div>
        </div>
    </div>
  </div>
  
<router-outlet></router-outlet>
<div style="text-align: center;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>